.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.content {
  position: relative;
  background-color: white;
  padding: 20px;
  overflow: hidden;
  max-width: 1000px;
  border-radius: 5px;
  h1 {
    font-size: 2rem;
  }
}

.content hr {
  margin-top: 10px;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.form {
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 25px;
}

.input {
  width: 75%;
  height: 38px;
  border: 1px solid #212121;
  background-color: transparent;
  padding: 4px;
  outline: none;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.buttonBox {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 14px;
}

.buttonForm {
  width: 100px;
  height: 50px;

  font-size: 14px;
  font-weight: bold;
}

.buttonForm:hover,
.buttonForm:focus {
  border-style: none;
}
