.input {
  border: none;
  border-bottom: 1px solid #000;
  width: 450px;
  font-size: 24px;
  font-weight: 400;
  padding: 4px 8px;
}

.txt {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 24px;
}
