.contactItem {
  width: 500px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  margin-right: 6px;
}

.titleContactItem {
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  align-items: center;
  display: flex;
}

.phoneContactItem {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  align-items: center;
  display: flex;
}

.buttonBox {
  display: flex;
  gap: 6px;
}

.buttonContactItem {
  border: 1px solid #202020;
  width: 55px;
  height: 35px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 6px;
  transition: all 0.4s ease-in-out;
}

.buttonContactItem:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #202020;
}
