.footer {
  background-color: black;
  padding: 24px 24px 12px;
  height: 150px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  gap: 34px;
  flex: 1;
}

.title {
  color: aliceblue;
}

.text {
  margin-bottom: 0;
  padding: 24px 0 4px;
}

.text p {
  color: aliceblue;
  font-size: 12px;
  text-align: left;
}

.footerWrapperItem {
}
