.contactList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.titleContactList {
  font-weight: 600;
  font-size: 42px;
  text-align: left;
  align-items: center;
  display: flex;
  margin-top: 44px;
}

.icon {
  margin-right: 4px;
}
